/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.opcoes {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
}

input[type="radio"] {
    margin-right: 10px;
}

.conteudo p {
    font-size: 18px;
    color: #333;
    display: none;
}

#conteudo-opcao1 {
    display: block;
    color: green;
}

#conteudo-opcao2 {
    display: none;
    color: blue;
}
